.header-container{
    overflow: hidden;
    height: 110px;
    max-width: 1200px;
    margin: 35px auto 50px;
    padding-bottom: 0px;
    background-color: transparent;
    box-sizing: border-box;
}

.logo-container{
    position: relative;
    float: left;
}
.logo{
    height: 100px;
    width: 100px;
}

.link-container{
    position: relative;
    //float: right;
    top: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
}