.header-container{
    overflow: hidden;
    height: 110px;
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
}

.logo-container{
    position: relative;
    float: left;
    width: 20%;
}
.logo{
    height: 100px;
    width: 100px;
}

.link-container{
    position: relative;
    float: right;
    width: 20%;
    top: 33%;
    display: flex;
    justify-content: space-around;
}