.header-container{
    overflow: hidden;
    height: 110px;
    width: 80%;
    background-color: transparent;
    border-bottom: 1px solid;
    margin: 0 auto 6em;

}

.logo-container{
    position: relative;
    float: left;
    width: 20%;
}
.logo{
    height: 100px;
    width: 100px;
}

.link-container{
    position: relative;
    float: right;
    width: 20%;
    top: 45%;
    display: flex;
    justify-content: space-between;
}