.userProfile-page{
    display: grid;
    grid-template-columns: 20vw 60vw;
    column-gap: 100px;
}

.delete-button{
    background-color: rgba(207,23,3,0.81);
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
}

.modifyUser-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.modifyUser-buttons-container p:hover {
    cursor: pointer;
}
.modifyUser-buttons-container button:hover {
    cursor: pointer;
}
.modifyUser-buttons-container p {
    font-size: 20px;
}

.userInfo-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: column;
    border: #072557 2.5px solid;
    padding: 10px;
    border-radius: 5px;
}


.user-info-form{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    height: 250px;
}

.user-info-form input[type = text]{
    border: none;
    height: 40px;
    font-size:  25px;
    background-color: white;
    color: black;
}
.user-info-form input[type = password]{
    height: 40px;
    font-size:  20px;
    background-color: white;
    color: black;
    margin-top: 5px;
    margin-bottom: 30px;
}
.user-info-form label{
    color: grey;
    position: relative;
}
.userInfo-formInput{
    display: flex;
    flex-flow: column;
}

.userPlans-and-transactions-container{
    background-color: #072557;
    display: flex;
    flex-flow: column;
    align-items: center;
    color: black;
    border-radius: 10px;
}

.view-btns-container{
    display: flex;
    justify-content: space-around;
    width: 400px;
    color: white;
    font-size: 20px;
}

.active-view-btn{
    background-color: #072557;
    border-bottom: chocolate solid 1px;
}

.active-view-btn:hover{
    cursor: pointer
}

.passive-view-btn:hover{
    cursor: pointer
}