.coachPlan-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.21);
    width: 1000px;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}

.coachPlan-container:hover{
    zoom: 1.03;

}