.footer-container{
    background-color: #072557;
    height: 80px;
    float: bottom;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}