.userPlan-container{
    font-size: 20px;
    background-color: white;
    margin: 30px 0px;
    width: 90%;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.plan-metadata{
    display: grid;
    grid-template-columns: 20% 70% 10%;
    margin: 20px 20px 0px 20px;
    text-align: center;
}

.plan-metadata:hover{
    cursor: pointer;
}

.cursor-on-hover:hover{
    cursor: pointer;
    color: #072557;
}

.user-plan-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.userplans-details-container{
    margin: 0px 20px 20px 20px;
}

.userplans-details-container textarea{
    width: 90%;
    height: 300px;
    font-size: 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}