.grid-containerJob {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: left;
    justify-items: left;
    border: 1px solid rgba(0, 0, 0, 0.21);
    width: 1000px;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    column-width: 1000px/6;
}

.item1Job {
    grid-column: 1;
    grid-row: 1;
}

.item2Job {
    grid-column: 1;
    grid-row: 2;
}

.item3Job {
    grid-column: 2;
    grid-row: 1;
}

.item4Job {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 3;
}

.item5Job {
    grid-column: 4;
    grid-row: 4;
}

.btnJob {
    margin-right: 15px;
}

.item6Job {
    grid-row: 1;
    grid-column: 5;
}