.ownerGyms-page-container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.insert-gym-container{
  display: flex;
  flex-direction: column;
}

.button-container {
  float: right;
  padding-top: 3em;
}