.custom-button {
  min-width: 50px;
  width: auto;
  height: 40px;
  letter-spacing: 0.5px;
  line-height: 40px;
  padding: 0 15px 0 15px;
  font-size: 15px;
  background-color: white;
  border: 2px black solid;
  color: black;
  font-weight: bolder;
  cursor: pointer;
}

.custom-buttom:hover {
  background-color: black;
  border: none;
}
